.landing-page {
    background-color: #464646;
    min-height: calc(100vh - 192px);
    text-align: left;
    padding: 96px 10%;
}

a {
    display: block;
}

.intro-segment {
    max-width: 750px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.call-square {
    min-width: 542px;
    min-height: 464px;
    /* z-index: 10; */
    position: relative;
}

.call-square .large-subtext {
    max-width: 434px;
    z-index: 10;
    position: relative;
}

.largeBlob {
    position: absolute;
    z-index: 1;
    top: -65px;
}

.largeBlob path {
    z-index: 1;
}

.specific-call {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    /* margin: 0 12px; */
    gap: 12px;
    align-items: center;
}

.specific-call .large-subtext {
    max-width: 369px;
}

.icon-svg {
    z-index: 10;
}