.category-tag {
    padding: 6px 16px;
    background-color: #464646;
    height: 24px;
    margin: 4px;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
    color: #F3FEF7;
    border: #2F2F2F 2px solid;
    border-radius: 4px;
    box-shadow: 4px 4px 2px black;

    animation: growTag .35s;
}

@keyframes growTag {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

