@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.highlight {
    position: absolute;
    display: block;
    height: 60px;
    width: 420px;
    top: 5px;
    transform: rotate(-3deg);
    background-color: #F37DAE;
    opacity: 80%;
    z-index: 1;
}

.custom-h1, .custom-h2, .custom-h3, .custom-h4, .custom-h5, .large-subtext {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    color: #F3FEF7;
    /* text-align: left; */
}

html {font-size: 100%;} /* 16px */

.custom-h1 {
    font-size: 4.210rem; /* 67.36px */
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    margin: 0;
    color: #55FF8F;
    z-index: 10;
    position: relative;
    /* text-decoration: underline overline white; */
    
}
.custom-h2 {
    margin: 0;
    font-size: 3.158rem;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
.custom-h3 {
    font-size: 2.369rem;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
.custom-h4 {
    font-size: 1.777rem;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
.custom-h5, .large-subtext {
    font-size: 1.333rem;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.name-header {
    position: relative;
}

