@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.highlight {
    position: absolute;
    display: block;
    height: 60px;
    width: 420px;
    top: 5px;
    transform: rotate(-3deg);
    background-color: #F37DAE;
    opacity: 80%;
    z-index: 1;
}

.custom-h1, .custom-h2, .custom-h3, .custom-h4, .custom-h5, .large-subtext {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    color: #F3FEF7;
    /* font-size: clamp(var(--min), var(--val) var(--max)) */
    /* text-align: left; */
}

html {font-size: 100%;} /* 16px */

.custom-h1 {
    font-size: min(calc(2rem + 2.65vw), 4.210rem); /* 67.36px */
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    margin: 0;
    color: #55FF8F;
    z-index: 10;
    position: relative;
    /* text-decoration: underline overline white; */
    
}
.custom-h2 {
    font-size: min(calc(0.76rem + 2.65vw), 3.158rem);
    margin: 0;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
/* TODO If you use a h3 use this for sizing */
.custom-h3 {
    /* font-size: 2.369rem; */
    font-size: min(calc(0.76rem + 2.65vw), 2.369rem);
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
.custom-h4 {
    font-size: 1.777rem;
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}
.custom-h5, .large-subtext {
    font-size: min(calc(1rem + 0.37vw), 1.333rem);
    /* font-size: 1.333rem; */
    font-family: 'Ubuntu Mono';
    font-weight: 400;
}

.custom-medium {
    font-size: 1rem;
    /* font-size: calc(0.1rem + 1vw); */
    font-family: 'Ubuntu Mono';
    font-weight: 400;
    margin: 4px;
    color: #F3FEF7;

    /* padding: 0; */
}



.name-header {
    position: relative;
}

